{%extends 'base.html' %}

{%load crispy_forms_tags%}
{% load help_paginate %}

{%block content%}
<div id="mt-3">
  <div id="alert-box"> </div>
  {% for message in messages %}
  <div class="alert text-white  bg-success  alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="card card-acent-primary">
  <div class="card-header "> <strong>ACCOUNT FILTER</strong> </div>

  <div class="card-body">

    
    <form  method='GET' id="account-filter">
      
      
      <div class="row">

        {% for account_field in p.form %}
        <div class="col-lg-2">
            {{account_field| as_crispy_field}}
                 </div>

        {%endfor%}
        

        <div class="col-lg-4">
            <div class="text-right">
                <button type='submit' class="btn btn-dark"><i class="fas fa-search  text-white"></i>Filter</button>
        
              </div>
              

        </div>

      
    </form>

  </div>

  <table class ='table table-responsive table-bordered '>
    <thead>
        <tr class="bg-dark text-white">
            <th scope="col">Card UID</td>
            <th scope="col">Account Name</th>
             <!-- <td scope="col">Title</td>
              <td scope="col">Debit</td> 
              <td scope="col">Credit</td> -->
              <td>Contact</td>
              <td>Balance</td>
              <td>Status</td>
              <td>Report</td>
        </tr>    
    </thead>
    
    <tbody>
       {% if accounts %}
       {% for account in accounts %}
       <tr>
           <td style="width:20%">{{account.card_uid}}</td>
           <td style="width: 20%">{{account.name}}</td>
           <td style="width: 20%">{{account.contact}}</td>

           <td>{{account.balance}}</td>
           <td>{% if account.active %}  <span class="badge badge-primary">ACTIVE</span> {%else%}  <span class="badge badge-secondary">INACTIVE</span>{%endif%} </td>
           <td><a class=" btn text-white bg-dark" href="#"> <i class="fas fa-file-pdf"></i><br>PDF</a></td>
       </tr>
       
       {%endfor%}
       
       {%else%}
       <tr>
         <td colspan="6"> No account for given filters</td>
       </tr>

       {%endif%}

    </tbody>
    
    </table>



    <nav aria-label="...">
        {% if accounts.has_other_pages %}
            <ul class="pagination justify-content-right" style="flex-wrap:wrap;">
                {% if accounts.has_previous %}
                <li class ="page-item"><a class="page-link" tabindex="-1" href="{% paginate_url accounts.previous_page_number 'page' request.GET.urlencode%}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in accounts.paginator.page_range %}
                {% if accounts.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% paginate_url i 'page' request.GET.urlencode%}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if accounts.has_next %}
                <li class="page-item"><a class="page-link" href="{% paginate_url accounts.next_page_number 'page' request.GET.urlencode%}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
      </nav>


</div>
</div>
{%endblock%}