{%extends 'base.html' %}
{% load crispy_forms_tags %}

{%block content %}

<div class="mt-5">
    {% for message in messages %}
    <div class="alert text-white  bg-primary  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
Please Scan Card
<div class="text-center">
    <form action="" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
           
      
                    {%for form_fields in search_form%}
                    <div class="col-lg-3">
                      {{form_fields | as_crispy_field}}
                
                    
            
                    </div>
                    
                    {%endfor%}
                
                  </div>

            </li>  
          

        
        <br>
        </ul>
    
        <button class="btn btn-primary">Search</button>
    </form>
</div>
</div>

{%endblock%}